# Database 
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=nology_db
DB_PORT=5432
DATABASE_URL=postgresql://postgres:postgres@db:5432/nology_cashback

# App
PYTHON_ENV=development
DEBUG=true
API_PORT=8000
